<div id="<%= dom_id announcement %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= announcement.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= announcement.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= announcement.code %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= announcement.value %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= announcement.user.email %>
  </p>

  <% announcement.images.each do |image| %>
      <span>
        <%= link_to image_tag(image.variant(resize_to_limit: [300, nil])), image %>
      </span>
    <% end %>
  <strong>Postado:</strong>
  <p>
    <%= time_tag announcement.updated_at, "data-local": "time", "data-format": "%B %e, %Y %l:%M%P" %>
  </p>
</div>
