<%= form_with(model: announcement, class: "contents w-full max-w-lg") do |form| %>
  <div class="flex flex-wrap -mx-3 mb-6">
    <% if announcement.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

        <ul>
          <% announcement.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :title, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.text_field :title, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :description, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.text_area :description, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :value, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.text_field :value, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :category, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.select :category_id, options_for_select(Category.all.pluck(:name, :id)), include_blank: true,
                     class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :images, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.file_field :images, multiple: true, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm" %>
    </div>

    <div class="md:flex md:items-center">

      <div class="md:w-2/3 pt-3">
        <%= form.submit "Publicar", class: "bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    </div>
  </div>
<% end %>
