<div class="flex flex-col justify-center items-center w-screen">
  <% @announcements.each do |announcement| %>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-6">
      <%= link_to "view_announcement/#{announcement.id}" do %>
        <% if announcement.images.attached? %>
          <%= image_tag announcement.images.first, class: "rounded-lg" %>
        <% else %>
          <div class="bg-grey-700 shadow-lg shadow-grey-800 rounded-lg w-90">
            <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" alt="No Image" />
          </div>
        <% end %>

        <div class="flex flex-col justify-center items-center sm:grid sm:grid-cols-2 sm:p-4">
          <div>
            <p class="font-sans font-bold text-xl tracking-tight">
              <%= announcement.title %>
            </p>
          </div>
          <div class="justify-center items-center sm:place-self-end">
            <p class="font-sans font-medium text-xl tracking-tight">
              <%= number_to_currency(announcement.value,
                                     unit: "R$",
                                     separator: ",",
                                     delimiter: ".") %>
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-end items-end pr-2 pt-2">
          <p class="font-light text-sm tracking-tight text-gray-700 dark:text-gray-400">Anunciado: <%= time_ago_in_words announcement.created_at %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
