<div>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= @announcement.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= @announcement.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= @announcement.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= @announcement.category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <% @announcement.images_as_thumbnail.each do |image| %>
      <span>
        <%= image_tag(image) %>
      </span>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this announcement", @announcement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this announcement', edit_announcement_path(@announcement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>

<div>
  <%= render "comments/form", announcement: @announcement %>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", announcement: @announcement, comment: comment %>
  <% end %>
</div>
