<% content_for :head do %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" %>
<% end %>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
      <% @announcement.images.each do |image| %>
        <div class="swiper-slide"><%= image_tag image %></div>
      <% end %>
    </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<!--
<div>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= @announcement.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= @announcement.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= @announcement.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= @announcement.category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <% @announcement.images_as_thumbnail.each do |image| %>
      <span>
        <%= image_tag(image) %>
      </span>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this announcement", @announcement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this announcement', edit_announcement_path(@announcement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
-->