<div class="flex flex-col">
  <div>
    <% @announcement.images_as_thumbnail.each do |image| %>
      <span>
        <%= image_tag(image) %>
      </span>
    <% end %>

    <% if action_name != "show" %>
      <%= link_to "Show this announcement", @announcement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this announcement', edit_announcement_path(@announcement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>

    <%= @announcement.title %>
    <%= @announcement.description %>
    <%= @announcement.value %>
    <%= @announcement.category.name %>
  </div>
  <div>
    <div>
      <%= render "comments/form", announcement: @announcement %>
    </div>
    <div>
      <% @comments.each do |comment| %>
        <%= render "comments/comment", announcement: @announcement, comment: comment %>
        <% if current_user == comment.user %>
          <div class="text-sm font-light text-end mb-1">
            <%= button_to "Apagar", [@announcement, comment], class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full", method: :delete, form: { data: { 'turbo-confirm': 'Tem certeza?' } } %>
          </div>
        <% end %>
        <hr />
      <% end %>
    </div>
  </div>
</div>





