<div id="<%= dom_id announcement %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= announcement.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= announcement.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= parse_to_real(announcement.value) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= announcement.user.nickname || announcement.user.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= announcement.category.name %>
  </p>

</div>
