<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full items-center justify-center mx-auto">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Seja Bem-vindo(a) à Sua Festa</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "mt-8 space-y-6" }) do |f| %>
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm", placeholder: "Email address" %>
          </div>
          <div>
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm", placeholder: "Password" %>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-violet-600 focus:ring-violet-500" %>
                <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
            <% end %>
          </div>

          <div class="text-sm">
            <%= render "devise/shared/links" %>
          </div>
        </div>

        <div>
          <%= f.submit "Entrar", class: "group relative flex w-full justify-center rounded-md border border-transparent bg-violet-600 py-2 px-4 text-sm font-medium text-white hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2" %>
        </div>
    <% end %>
  </div>
</div>

