<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= address.user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= address.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Street:</strong>
    <%= address.street %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= address.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zipcode:</strong>
    <%= address.zipcode %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reference point:</strong>
    <%= address.reference_point %>
  </p>

</div>
