<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cep:</strong>
    <%= address.cep %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rua:</strong>
    <%= address.rua %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero:</strong>
    <%= address.numero %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Complemento:</strong>
    <%= address.complemento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ponto de referencia:</strong>
    <%= address.ponto_de_referencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Uf:</strong>
    <%= address.uf %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cidade:</strong>
    <%= address.cidade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= address.user_id %>
  </p>

</div>
